Repository soc221b/object-visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json --check, prettier --check .

.lintstagedrc.json:

{
  "package.json": "sort-package-json --check",
  "*.{vue,js,jsx,cjs,mjs,ts,tsx,cts,mts}": "prettier --check ."
}

chore: run commitlint on commit
  .husky/commit-msg
Due: none

build: migrate to Vite
  package.json
  pnpm-lock.yaml
  rollup.config.js
  vite.config.ts
Due: sort-package-json --check, prettier --check .

feat: be able to unmount
  cypress/integration/array/index.spec.js
  cypress/integration/object/index.spec.js
  cypress/integration/primitive/index.spec.js
  cypress/plugins/index.cjs
  cypress/utils/index.js
  lib/ObjectVisualizer.vue
  lib/components/BooleanWrapper.vue
  lib/components/NullWrapper.vue
  lib/components/NumberWrapper.vue
  lib/components/ObjectWrapper.vue
  lib/components/StringWrapper.vue
  lib/components/Wrapper.vue
  lib/config.ts
  lib/index.ts
  lib/main.ts
  lib/mount.ts
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: sort-package-json --check, prettier --check .

docs: update docs
  README.md
Due: none

feat: support click block to expand/collapse
  lib/components/ArrayWrapper.vue
  lib/components/ObjectWrapper.vue
  lib/index.css
Due: prettier --check .

feat: light/dark mode
  lib/index.css
Due: none

chore(release): 5.0.0-beta.0
  package.json
Due: sort-package-json --check

docs: update example
  example/index.html
  example/index.js
  test/data.js
  test/index.html
  test/index.spec.js
Due: prettier --check .

docs: update example
  example/index.html
  example/index.js
Due: prettier --check .

docs: update docs
  README.md
  dark.png
  light.png
  screenshot.png
Due: none

docs: update example
  example/index.js
Due: prettier --check .

fix: bundle dts
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: sort-package-json --check, prettier --check .

style: lint
  README.md
Due: none

chore(release): 5.0.0-beta.1
  package.json
Due: sort-package-json --check

fix: invalid props
  lib/components/Wrapper.vue
Due: prettier --check .

fix: expose css
  package.json
Due: sort-package-json --check

docs: update README
  README.md
Due: none

chore(release): 5.0.0-beta.2
  package.json
Due: sort-package-json --check

fix: props are optional
  lib/components/BooleanWrapper.vue
  lib/components/NullWrapper.vue
  lib/components/NumberWrapper.vue
  lib/components/StringWrapper.vue
Due: prettier --check .

chore(release): 5.0.0-beta.3
  package.json
Due: sort-package-json --check

fix: aria-level is wrong
  lib/components/Wrapper.vue
Due: prettier --check .

feat: remove useless id
  README.md
  lib/ObjectVisualizer.vue
  lib/components/ArrayWrapper.vue
  lib/components/BooleanWrapper.vue
  lib/components/NullWrapper.vue
  lib/components/NumberWrapper.vue
  lib/components/ObjectWrapper.vue
  lib/components/StringWrapper.vue
  lib/components/Wrapper.vue
Due: prettier --check .

chore(release): 5.0.0-beta.4
  package.json
Due: sort-package-json --check

feat: remove runtime validators
  lib/components/ArrayWrapper.vue
  lib/components/ObjectWrapper.vue
  lib/components/Wrapper.vue
Due: prettier --check .

fix: escape
  lib/components/StringWrapper.vue
Due: prettier --check .

feat: follow ECMA-404
  lib/components/FalseWrapper.vue
  lib/components/TrueWrapper.vue
  lib/components/Wrapper.vue
  lib/index.css
Due: prettier --check .

fix: type
  README.md
  lib/ObjectVisualizer.vue
  lib/components/ArrayWrapper.vue
  lib/components/FalseWrapper.vue
  lib/components/NullWrapper.vue
  lib/components/NumberWrapper.vue
  lib/components/ObjectWrapper.vue
  lib/components/StringWrapper.vue
  lib/components/TrueWrapper.vue
  lib/components/Wrapper.vue
  lib/hooks.ts
  lib/main.ts
  lib/util.ts
Due: prettier --check .

chore(release): 5.0.0-beta.5
  package.json
Due: sort-package-json --check

docs: update
  README.md
Due: none

ci: migrate to renovate
  .github/dependabot.yml
  renovate.json
Due: none

ci: update
  .github/workflows/ci.yml
Due: none

build: bump cypress
  cypress.config.ts
  cypress.json
  cypress/e2e/array/index.cy.js
  cypress/e2e/object/index.cy.js
  cypress/e2e/primitive/index.cy.js
  cypress/plugins/index.cjs
  cypress/support/e2e.js
  package.json
  pnpm-lock.yaml
Due: sort-package-json --check, prettier --check .

chore: add release script
  package.json
  pnpm-lock.yaml
Due: sort-package-json --check

ci: auto publish
  .github/workflows/ci.yml
Due: none

ci: auto release
  .github/workflows/release.yml
Due: none

chore: add release script
  package.json
Due: sort-package-json --check

chore(release): 5.0.0
  CHANGELOG.md
  package.json
Due: sort-package-json --check

ci: fix wrong renovation config
  renovate.json
Due: none

ci: tag and release after publish
  .github/workflows/ci.yml
Due: none
